In [62]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing
from sklearn import svm
%matplotlib inline

In [2]:
data = pd.read_csv('../data/heart-disease.csv')

In [5]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [30]:
data.fillna(0,inplace=True)

In [35]:
X = data.drop(['TenYearCHD'],axis=1)
y = data['TenYearCHD']

In [38]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: TenYearCHD, dtype: int64

In [66]:
# X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=9)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

In [67]:
sc = preprocessing.StandardScaler()

In [68]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [69]:
reg = LogisticRegression(penalty='l2',solver='lbfgs')
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
y_pred = reg.predict(X_test)

In [71]:
metrics.accuracy_score(y_test,y_pred)

0.8455188679245284

In [72]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df

      Actual  Predicted
1009       0          0
822        0          0
2704       0          0
2807       1          0
308        0          0
...      ...        ...
1002       0          0
2510       0          0
2588       1          0
3366       0          0
871        0          0

[848 rows x 2 columns]

In [73]:
clf = svm.SVC()
clf.fit(X_train,y_train)
clf_pred = clf.predict(X_test)

In [74]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':clf_pred})
df

      Actual  Predicted
1009       0          0
822        0          0
2704       0          0
2807       1          0
308        0          0
...      ...        ...
1002       0          0
2510       0          0
2588       1          0
3366       0          0
871        0          0

[848 rows x 2 columns]

In [75]:
metrics.accuracy_score(y_test,clf_pred)

0.8419811320754716