In [76]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing
from sklearn import svm
%matplotlib inline

In [77]:
data = pd.read_csv('../data/heart-disease.csv')

In [78]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [79]:
data.fillna(0,inplace=True)

In [80]:
X = data.drop(['TenYearCHD','education'],axis=1)
y = data['TenYearCHD']

In [82]:
X.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0

In [133]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=9)
# X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

In [134]:
# sc = preprocessing.StandardScaler()
sc = preprocessing.MinMaxScaler()

In [135]:
X_train = sc.fit_transform(X_train,['age','cigsPerDay','totChol','sysBP','diaBP','BMI','heartRate','glucose'])
X_test = sc.transform(X_test)

In [136]:
reg = LogisticRegression(penalty='l2',solver='lbfgs')
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [137]:
y_pred = reg.predict(X_test)

In [138]:
metrics.accuracy_score(y_test,y_pred)

0.8443396226415094

In [139]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df

      Actual  Predicted
1009       0          0
822        0          0
2704       0          0
2807       1          0
308        0          0
...      ...        ...
1956       0          0
368        0          0
3003       0          0
1758       0          0
4032       0          0

[1272 rows x 2 columns]

In [140]:
clf = svm.SVC()
clf.fit(X_train,y_train)
clf_pred = clf.predict(X_test)

C:\Users\Shubh Agrawal\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [141]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':clf_pred})
df

      Actual  Predicted
1009       0          0
822        0          0
2704       0          0
2807       1          0
308        0          0
...      ...        ...
1956       0          0
368        0          0
3003       0          0
1758       0          0
4032       0          0

[1272 rows x 2 columns]

In [142]:
metrics.accuracy_score(y_test,clf_pred)

0.8459119496855346